{{#> 'pages/autorization/AutorizationForm'}}
    <h1 class="autorization-form__title">
        {{> 'pages/autorization/AutorizationFormLegend' text='регистрация'}}
    </h1>

    {{> 'ui/input/InputAutorize' type='input' id='email' name='email' label='Почта'}}
    {{> 'ui/input/InputAutorize' type='input' id='login' name='login' label='Логин'}}
    {{> 'ui/input/InputAutorize' type='input' id='firstname' name='first_name' label='Имя'}}
    {{> 'ui/input/InputAutorize' type='input' id='secondname' name='second_name' label='Фамилия'}}
    {{> 'ui/input/InputAutorize' type='input' id='phone' name='phone' label='Телефон'}}
    {{> 'ui/input/InputAutorize' type='password' id='password' name='password' label='Пароль' error-input='error'}}
    {{> 'ui/input/InputAutorize'
        type='password'
        id='passwordrepeat'
        name=''
        label='Пароль (еще раз)'
        error-text='Пароли не совпадают'
        error-input='error'
    }}

    <div class="autorization-form__buttons">
        {{> 'ui/button/AppButton' text='Зарегистрироваться'}}
        {{> 'ui/button/AppButton' link='link' text='Войти'}}
    </div>
{{/ 'pages/autorization/AutorizationForm' }}
