<nav>
    <a aria-label="Переход в чат" href="./chat.hbs">Chat</a>
    <a aria-label="Переход в пустой чат" href="./chat-empty.hbs">Empty Chat</a>
    <a aria-label="Переход на логин" href="./login.hbs">Login</a>
    <a aria-label="Переход на регистрацию" href="./signin.hbs">Sign In</a>
    <br>
    <br>
    <a aria-label="Переход в профиль" href="./profile.hbs">Profile</a>
    <a aria-label="Изменить информацию профиля" href="./profileChangeInfo.hbs">Profile change info</a>
    <a aria-label="Сменить пароль" href="./profileChangePassword.hbs">Profile change password</a>
    <br>
    <br>
    <a aria-label="Страница не найдена" href="./404.hbs">404</a>
    <a aria-label="Ошибка сервера" href="./500.hbs">500</a>
</nav>
