<tr class="profile-info-row {{class}}">
    <!--  Key  -->
    <th class="profile-info-row__key t3 c-text {{class-key}}">
        {{key-text}}
    </th>

    <!--  Value  -->
    <td class="profile-info-row__value c-placeholder">
        {{> @partial-block }}
    </td>
</tr>
